body{
background-color: green;
background-image: url("https://media.giphy.com/media/q3pLCQEeAG3nO/giphy.gif");
background-repeat: no-repeat;
background-size: cover;
background-position: center;

/* Image from GIPHY. Find out more about the image here: https://giphy.com/gifs/thengb-artists-on-tumblr-ngb-the-q3pLCQEeAG3nO/links*/
color: green;
}



h1{
font-family: 'Press Start 2P', cursive;
color: green;
text-align: center;
}

div{
width: 40%;
margin-left: auto;
margin-right: auto;
border: 5px inset green;
background-color: black;
padding: 10px;
}

/*Variations on a theme, yet for this one I opted for something more esoteric. "Glitch" theme as hypotheses often lead to glitches rather than expected results, like normal hypothesis it's messed up, but even more so because of two. Fatal error, etc. */
